.content {
  display: flex;
  flex-direction: column;

  &__title {
    @extend %h1;
    margin-bottom: 16px;
  }

  &__text {
    @extend %text-header;

    margin-bottom: 20px ;

    @include onTablet {
      margin-bottom: 45px;
      width: 80%;
    }
  }

  &__button {
    width: max-content;
  }
}
