.social {
  margin-top: 10%;
  display: flex; 
  justify-content: space-between;

  @include onTablet {
    margin-top: 0;
    display: block;
  }

    & a {
    margin-bottom: 14px;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-bottom: 0;
    }
   }
}
